@import "tailwindcss";

/* Import CSS files */
@import "../styles/base.css";
@import "../styles/colors.css";
@import "../styles/components.css";
@import "../styles/navigation.css";
@import "../styles/animations.css";
@import "../styles/marathon.css";
